@{
    ViewBag.Title = "Cargar Pacientes al sistema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewBag.Mensaje</h2>
<div class="card mt-3">
    <form action="@Url.Action("CargarPacientesAlSistema","Home")" method="post">
        <div class="card shadow-lg text-center">
            <label>Nombre</label>
            <br />
            <input type="text" id="nombre" name="nombre" required />
        </div>  
    </form>
</div>